/* 모달 배경 */
.modal {
    display: none;
    /* 기본적으로 안 보이게 설정 */
    position: fixed;
    /* 화면 스크롤 시에도 위치 고정 */
    z-index: 1;
    /* 다른 컨텐츠 위에 나타나도록 */
    left: 0;
    top: 0;
    width: 100%;
    /* 전체 너비 */
    height: 100%;
    /* 전체 높이 */
    overflow: hidden;
    /* 내용이 많을 때 스크롤 */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* 모달 컨텐츠 */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 100% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* 팝업 효과 */
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* 닫기 버튼 */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* 애니메이션 추가 */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.comment-update-box a {
    font-size: 0.8em;
    /* 폰트 크기 조절 */
    margin-right: 25px;
    /* 오른쪽 마진으로 버튼 사이의 간격 조절 */
}

#route-detail-user {
    float: right;
    margin-right: 86px;
    font-size: 30px;
    color: #F78536;
    cursor: pointer;
}

#route-detail-user:hover {
    color: #5c3c25;
}

#route-update-href:hover {
    color: #5c3c25;
}

#route-delete-href:hover {
    color: #5c3c25;
}

.comment-btn:hover {
    color: #5c3c25;
}

.row-spot {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.row-spot:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

#commnet-name:hover {
    color: #5c3c25;
}

.wrap * {
    padding: 0;
    margin: 0;
}

.wrap .info {
    width: 286px;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}

.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}

.info .body {
    position: relative;
    overflow: hidden;
}

.info .desc {
    position: relative;
    margin: 13px 0 0 90px;
    height: 75px;
}

.info .img {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 73px;
    height: 71px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
}

.info:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}