.custom-select {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 4px 8px;
    font-size: 16px !important;
    color: #F78536;
}

.custom-select:focus {
    outline: none;
    border-color: #F78536;
}

.custom-select option {
    color: #F78536;
}

#result-show img {
    width: 100%;
    height: auto;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #F78536;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

img {
    margin: 20px auto 20px auto;
}

.down_btn {
    display: flex;
    justify-content: center;
}

.down_btn button {
    background: #F78536;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    line-height: 20px;
    border-radius: 30px;
    border: none;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.down_btn button:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

}